body {
    background-color: grey;
    margin: 0;
}

section {
    height:100vh;
    width: 100%;
    display: flex;
}

/* Nav Bar */

nav {
    position: sticky;
    z-index: 99;
    top: 0;
    background-color: #f5f5f5;
  }
  
  nav .container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  }
  nav .container ul li {
    display: inline-block;
  }
  nav .container ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
  }
  nav .container ul li.active {
    background-color: crimson;
    transition: 0.3s ease background-color;
  }

  nav .container ul li.active a {
    color: rgb(255, 255, 255);
  }
  
  nav .container ul li a:hover {
      background-color: crimson;
      color: white;
  }

/* LANDING PAGE */

#home {
  background-color: crimson;
  align-items: center;
  justify-content: center;
}

#home .slideshow-container h1.slideshow-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 3rem;
  font-family: "Ubuntu Mono", monospace;
  background-color: green;
  padding: 10px 20px;
  border-radius: 10px;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySlides {
  display: none;
  width: 100%;
  height: 100vh;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySlides .fade {
  animation-name: fade;
  animation-duration: 4.5s;
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}


/* Home */

#home h1 {
    font-family: "Ubuntu Mono", monospace;
    background: green;
    font-size: 3rem;
}

/* SHOWS */

#shows span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#shows h1 {
  text-align: center;
  font-size: 60px;
}

#shows .show-banner {
  background-color: aquamarine;
  padding: 20px;
}


#shows {
    background-color: aquamarine;
    display: block;
    height: auto;
}

#shows .vid-container{
  height: 281px;
  width: 500px;
  color: black;
  border-radius: 8px;
}

#shows .show-card {
  display: flex;
  padding:10px;
  padding-bottom: 50px;

}

#shows .blurb {
  height: auto;
  background-color: whitesmoke;
  text-align: center;
  width: 75vh;
}

#shows .parent { 
  display: grid;
  place-items: center;

}

#shows .buffer {
  height: 20vh;
}


/* END SHOWS */

/* MEET THE MIDS */

#about img {
  border-radius: 10px;
}

#about h1 {
  font-size: 60px;
}

#about {
  display: block;
  height: auto;
  text-align: center;
}

#about .parent { 
  display: grid;
  place-items: center;
}

#about .musician-card {
  display: flex;
}

#about .musician-pic{
  height: 281px;
  width: 480px;
  color: black;
  border-radius: 8px;
}

#about .musician-blurb {
  width: 50vh;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  text-align:center;
  justify-content: center;

}

#about .buffer {
  height: 20vh;
}



/* END MEET THE MIDS */

#events {
    background-color: magenta;
}

#contact {
    background-color: orange;
}


